.navbarContainer {
    align-items: center;
    min-height: 3em;
    width: 90%;
    background-color: #3d6868;
    position: fixed;
    left: 0;
    z-index: 1000;
    padding-top: calc(env(safe-area-inset-top) + 2vh);
    padding-left: 5vw;
    padding-right: 5vw;
  }
  
  .navbarElement {
    position: fixed;
    top: 0;
    border-bottom: 1px solid #6c757d;
    background-color: #3d6868;
    height: 4em;
    margin-bottom: 10vw;
    z-index: 9000;
  }

  #backIcon {
    cursor: pointer;
    color: white;
    font-size: 1.9rem;
    margin-left: 2vw;
  }
  
  .desktop .navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4em;
    width: 100%;
    background-color: #3d6868;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-top: calc(env(safe-area-inset-top) + 2vh);
  }
  
  .desktop .nativeApp .navbarContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 6em;
    width: 100%;
    background-color: #3d6868;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    padding-top: calc(env(safe-area-inset-top) + 2vh);
  }
  
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 4vw;
  }